<div class="header">
  <ul class="nav nav-pills pull-right">
     <li><a>User 1</a></li>
  </ul>
  <h3 class="text-muted pull-left">A test sheet</h3>
  <ul class="nav nav-pills">
    <li><a ng-href="#">Export CSV</a></li>
    <!-- <li><a ng-href="#">Import CSV</a></li>
    -->
  </ul>
</div>

<table id="sheet">
   <tr>
      <th class="header" ng-repeat="c in ['A', 'B', 'C', 'D']">
         {{c}}
      </th>
   </tr>
   <tr ng-repeat="col in columns">
      <td class="column" ng-repeat="cell in col">
         {{cell}}
      </td>
   </tr>
</table>

<div class="footer">
  <p>node calc
</div>
