<div class="header">
  <form class="form-inline pull-right" role="form">
    <div class="form-group">
      <label>Switch sheet</label>
      <select class="form-control" ng-model="nextSheet" ng-change="setSheet()"
        ng-options="key as key for (key, value) in sheets">
        <option value="">-- Choose sheet --</option>
      </select>
    </div>
    <div class="form-group">
      <label>Import a CSV sheet</label>
      <br>
      <input type="file" ng-file-select="uploadFile($files)">
    </div>
  </form>
  <h3 class="text-muted">node-calc</h3>
</div>

<div ng-switch on="currentSheetName">
  <div ng-switch-when="">
    <p>No sheet selected. Select one above, or import your own.</p>
  </div>

  <div ng-switch-default>
    <div class="pull-right" ng-switch on="otherUsers.length">
      <i ng-switch-when="0" class="text-muted">You are the only viewer.</i>
      <div ng-switch-default>
        <button class="btn" ng-repeat="user in otherUsers">
          {{user.name}}
        </button>
      </div>
    </div>
    <p>
      <button class="btn btn-warning">Export</button>
      <button class="btn btn-success">Export values</button>
    </p>
  </div>
</div>

<div class="table-responsive">
  <table id="sheet" class="table table-bordered">
    <tr>
      <th ng-repeat="(col, header) in currentSheet.values[0] track by col"
        ng-mouseenter="updateCursor(0, col)"
        ng-class="{active : pos.col == col || pos.row == 0 }"
        >
        <input ng-model="currentSheet.values[0][col]"
          ng-change="updateCurrentCell()" value="{{header}}" />
      </th>
    </tr>
    <tr ng-repeat="(row, column) in currentSheet.values.slice(1) track by row">
      <td ng-repeat="(col, cell) in column track by col"
        ng-mouseenter="updateCursor(row+1, col)"
        ng-class="{active : pos.col == col || pos.row == row+1 }">
        <input ng-model="currentSheet.values[row+1][col]"
          ng-change="updateCurrentCell()"/>
      </td>
    </tr>
  </table>
  <style>
    .hover {
      background:red;
    }
  </style>
</div>

<h4 class="text-muted">Log</h4>
<pre>
<span ng-repeat="(index, n) in notifications track by index">{{n + '\n'}}</span>
</pre>

<div class="footer">
  <p>node calc
</div>
